<!doctype html>
<html lang="<%= config.language %>" itemscope itemtype="http://schema.org/Blog">
<head>
  <%- partial('_partial/common-head') %>
</head>
<body>
  <%- partial('_partial/common-header') %>
  <div class="container">
    <main class="main">
      <% page.posts.each( (post, i) => { %>
        <article class="article-summary" itemprop="blogPost" itemscope itemType="http://schema.org/BlogPosting">
          <header class="header">
            <h1 class="header__title" itemprop="name"><a href="<%- url_for(post.path) %>"><%- post.title %></a></h1>
            <div><time datetime="<%- post.date.toISOString() %>" itemprop="datePublished"><span class="calendar-icon">ЁЯУЕ</span><span><%- post.date.locale(config.language).format('LL') %></span></time></div>
          </header>
          <% if (post.excerpt) { %>
            <div class="content" itemprop="description"><%- post.excerpt %></div>
            <div><a href="<%- url_for(post.path) %>" itemprop="url">ЁЯУЦ ч╢ЪуБНуВТшкнуВА</a></div>
          <% } else { %>
            <div class="content" itemprop="articleBody"><%- post.content %></div>
          <% } %>
        </article>
      <% }) %>
    </main>
  </div>
</body>
</html>