<!doctype html>
<html lang="<%= config.language %>" itemscope itemtype="http://schema.org/Blog">
<head>
  <%- partial('_partial/common-head') %>
</head>
<body>
  <%- partial('_partial/common-header') %>
  <div class="container">
    <main class="main">
      <article itemprop="blogPost" itemscope itemType="http://schema.org/BlogPosting">
        <header class="header">
          <h1 class="header__title" itemprop="name"><%- page.title %></h1>
          <div>
            <time datetime="<%- page.date.toISOString() %>" itemprop="datePublished">
              <span class="calendar-icon">📅</span><span><%- page.date.locale(config.language).format('LL') %></span>
            </time>
          </div>
        </header>
        <div id="article-content" class="content" itemprop="articleBody"><%- page.content %></div>
      </article>
    </main>
  </div>
</body>
</html>